@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
  font-family: 'Titillium Web', sans-serif; 
  margin: 0; 
  background: linear-gradient(90deg, rgba(62,57,158,1) 0%, rgba(89,9,121,1) 100%, rgba(0,212,255,1) 100%);  
}  
  
.container {  
  max-width: 1200px;  
  margin: 0 auto; 
} 
 
* { 
  font-family: 'Poppins', sans-serif; 
}  
