<!-- header with actual currency data provided from a public API -->
<header>
  <!-- container -->
  <nav class="nav__container">
    <span class="usd">USD</span>
    &nbsp; <!-- cool cheatcode for some space needed parts -->
    <span class="uah_rate">{{this.response.rates.UAH.toFixed(2)}}</span><!-- returns actual data from API -->
    <span class="uah">UAH</span>
    <span class="eur">EUR</span>
    &nbsp; <!-- cool cheatcode for some space needed parts -->
    <span class="uah_rate">{{this.res.rates.UAH.toFixed(2)}}</span><!-- returns actual data from A12PI -->
    <span class="uah">UAH</span>
  </nav>
  <!-- container -->
</header>&nbsp;
<!-- end of header -->
